<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/menu.css">
		<link rel="stylesheet" type="text/css" href="/css/feed.css">
	</head>
	<body>
		<div class="menu-top">
			<img class="logo" src="/img/oppai.png">
			<a class="menu-btn" href="/user/feed">Home</a>
			<a class="menu-btn" href="/user/profile">Profile</a>
			<div class="search-container">
				<input class="search-tf" type="text" spellcheck="false" placeholder="Search">
				<div class="search-icon-div">
					<img class="search-icon" src="/img/search.png">
				</div>
			</div>
			<a class="menu-btn-right">Settings</a>
			<a class="menu-btn-right">Logout</a>
			<!-- <div class="menu-btn"></div> -->
		</div>
		
		<div class="feed-content" id="fContent">
			<div class="new-post-area">
				<div class="pic-container">
					<img class="profile-pic-mini" src="/img/profile-pic.jpg">	
				</div>
				<textarea class="new-post-content-area" placeholder="Type some content and post"></textarea>
				<div class="post-btn">Post</div>
			</div>
		</div>
		

	<script src="/js/feed.js" type="text/javascript"></script>
	<!-- <script src="/js/menu.js"></script> -->
	</body>
</html>