<div class="profile-pic">
    <div class="user-name">Anna Thompson</div>
    <img class="p-pic" src="../../img/profile-pic.jpg" style="width: 200px; height: 200px">
    <div class="update-pic">Update picture</div>
</div>
<div class="profile-info">
    <div class="profile-info-header">User personal information</div>
    <div class="profile-info-item">
        <div class="profile-user-name-label">Full Name:</div>
        <div class="profile-user-name">Anna Thompson</div>
    </div>
    <div class="profile-info-item">
        <div class="profile-user-name-label">Date of Birth:</div>
        <div class="profile-user-name">June 1 1995</div>
    </div>
    <div class="profile-info-item">
        <div class="profile-user-name-label">Address:</div>
        <div class="profile-user-name">Peaky Street 52, Birmingham, England</div>
    </div>
    <div class="profile-info-item">
        <div class="profile-user-name-label">Phone Number:</div>
        <div class="profile-user-name">+943533636363</div>
    </div>
    <div class="profile-info-item">
        <div class="profile-user-name-label">About You:</div>
        <div class="profile-user-name">Don't know, don't care</div>
    </div>
</div>
